.deepak
{
    background-color:seagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
}
.banner
{
    background-color: #d6d6d6;
    width: 1850px;
    border: solid;
    height: 200px;
}
.picture
{
    border-right: solid;

    height: 700px;
    width: 50%;
}
.registration
{
    
    width: 930px;

    
}
.pict
{
    padding-bottom: 5%;
    padding-left: 20%;
}
.username
{
    font-size: 20px;
}
.border2
{

    margin-left: 35%;
    border: solid; 
}
input[type="text"]
{
    font-size: 20px;

}
input[type="password"]
{
    font-size:20px;
  
}
h1
{
    font-size: 25px;
}
input[type="submit"]
{
    
    font-size: 15px;
  padding: 5px 50px;
    text-align: center; 
}
.line-1
{
    border-bottom: solid;
}